* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary: #FF7A00;
    --text: #333;
}

header {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:3
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: .4s;
}
.nav-scrolled {
    background-color: #FF7A00;
    padding: 15px 115px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
    transition: .4s;
}
.nav-scrolled .nav-brand a {
    color: white;
    font-size: 18px;
}
.nav-scrolled .sidebar-toggle ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.nav-scrolled .sidebar-toggle ul li .active-link {
    color: #fff;
}
nav .nav-brand a, nav .sidebar-toggle ul li a {
    text-decoration: none;
}
nav .nav-brand a {
    font-weight: bold;
    font-size: 22px;
    color: #FF7A00;
}
nav .sidebar-toggle input {
    display: none;
}
nav .sidebar-toggle ul { 
    display: flex;
    list-style: none;
}
nav .sidebar-toggle ul li {
    margin: 0 25px;
}
nav .sidebar-toggle ul li a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #000;
    width: 50%;
    margin: 3px auto 0;
    transform: scale(0);
    transition: .2s;
}
.nav-scrolled .sidebar-toggle ul li a::after {
    border-bottom: 3px solid #fff;
}
nav .sidebar-toggle ul li a {
    color: rgba(0, 0, 0, 0.7);
}
nav .sidebar-toggle ul li a:hover {
    color: rgba(0, 0, 0, 1);
}
.nav-scrolled .sidebar-toggle ul li a:hover {
    color: #fff
}
nav .sidebar-toggle ul li a:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #000;
    width: 50%;
    margin: 3px auto 0;
    transform: scale(1);
}
.nav-scrolled .sidebar-toggle ul li a:hover::after {
    border-bottom: 3px solid #fff;
}
nav .sidebar-toggle ul li:last-child{
    margin-right: 0;
}
nav .sidebar-toggle ul li .active-link {
    color: #000;
}
.nav-scrolled .sidebar-toggle ul li .active-link {
    color: #fff;
}
nav .sidebar-toggle ul li .active-link::after {
    transform: scale(1);
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 100px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hero::after {
    content: '';
    display: block;
    position: absolute;
    top: -200px;
    right: 0;
    background-image: url(../img/ellipse.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 100%;
    z-index: -1;
}
.hero-text {
    width: 50%;
    color: var(--text);
}
.hero-text h1 {
    font-size: 44px;
    margin-bottom: 15px;
}
.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}
.hero-btn {
    border: none;
    outline: none;
    font-size: 16px;
    height: 45px;
    width: 140px;
    border-radius: 30px;
    color: #000;
    background-image: linear-gradient(to right, #FF7A00, yellow);
    box-shadow: inset 0 0 0 0 #FF7A00;
    transition: all .3s;
}
.hero-btn:hover {
    box-shadow: inset 140px 0 0 #FF7A00;
    cursor: pointer;
    color: #fff;
}
.hero-img {
    width: 50%;
    text-align: center;
}
.hero-img img {
    height: auto;
    max-width: 90%;
}
.hero-img .hero-btn {
    display: none;
}
.hero-img .hero-btn-2 {
    display: none;
}

/* RESPONSIVE BREAKPOINTS */
/* TABLET BESAR */
@media screen and (max-width: 992px) {
    nav {
        padding: 15px 50px;
    }
    /* Hero */
    .hero {
        padding: 0 50px;
    }
    .hero-text h1 {
        font-size: 38px;
    }
    .hero-text p {
        font-size: 16px;
    }
    .hero-btn {
        font-size: 14px;
    }
    .hero-img {
        margin-right: 0;
        text-align: center;
    }
    .hero-img img {
        max-width: 250px
    }
}
/* TABLET */
@media screen and (max-width: 768px) {
    nav {
        padding: 15px 30px;
    }
    nav .nav-brand a {
        font-size: 18px;
    }
    nav .sidebar-toggle ul li a {
        font-size: 15px;
    }
    .nav-scrolled {
        background-color: #FF7A00;
        padding: 10px 40px;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
        transition: .4s;
    }
    .nav-scrolled .nav-brand a {
        color: white;
        font-size: 16px;
    }
    .nav-scrolled .sidebar-toggle ul li a {
        font-size: 13px;
    }

    /* Hero Tablet */
    .hero {
        padding: 0 30px;
    }
    .hero-text {
        width: 50%;
    }
    .hero-text h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .hero-text p {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .hero-btn {
        font-size: 13px;
    }
    .hero-btn:hover {
        box-shadow: inset 140px 0 0 #FF7A00;
        cursor: pointer;
        color: #fff;
    }
    .hero-img {
        width: 220px;
        margin-right: 50px;
        text-align: center;
    }
    .hero-img img {
        height: auto;
        max-width: 100%;
    }
}


/* MOBILE */
@media screen and (max-width: 576px) {
    nav {
        padding: 10px 15px;
    }
    .nav-scrolled {
        background-color: #FF7A00;
        padding: 10px 15px;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
        transition: .4s;
    }
    .nav-scrolled .nav-brand a {
        color: white;
        font-size: 16px;
    }
    .nav-scrolled .sidebar-toggle ul li a {
        font-size: 12px;
    }
    nav .nav-brand a {
        font-size: 16px;
    }
    nav .sidebar-toggle ul { 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 38px;
        padding: 10px 0;
        height: 110px;
        list-style: none;
        background-color: #FF7A00;
        border-radius: 10px;
        transform: scale(0);
        transform-origin: 90% 0;
        transition: .3s;
    }
    nav .sidebar-toggle ul li {
        margin: 0 20px;
    }
    nav .sidebar-toggle ul li .active-link {
        color: #fff;
    }
    .active-link::after {
        content: '';
        display: none;
    }
    nav .sidebar-toggle ul li a {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }
    nav .sidebar-toggle ul li a:hover {
        color: rgb(255, 255, 255);
    }
    nav .sidebar-toggle ul li a::after {
        display: none;
    }
    nav .sidebar-toggle ul li a:hover::after {
        content: '';
        display: none;
        border-bottom: 3px solid #000;
        width: 50%;
        margin: 3px auto 0;
    }
    nav .sidebar-toggle ul li:last-child{
        margin-right: 0;
    }
    nav .sidebar-toggle input {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }
    nav .sidebar-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 15px;
        cursor: pointer;
        transition: all .3s;
    }
    nav .sidebar-toggle span {
        background-color: #000;
        height: 3px;
        width: 20px;
        transition: all .3s;
        transform-origin: 0 0;
    }
    nav .sidebar-toggle span:nth-child(3) {
        transform-origin: 50% 50%;
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(0, -2px);
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(3) {
        transform: scale(0);
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg);
    }
    nav .sidebar-toggle input:checked ~ ul {
        transform: scale(1);
    }
    /* Hero M */
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
    }
    .hero-text {
        width: 100%;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .hero-text p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .hero-text .hero-btn {
        display: none;
        font-size: 13px;
        width: 120px;
        height: 35px;
    }
    .hero-btn:hover {
        box-shadow: inset 140px 0 0 #FF7A00;
        cursor: pointer;
        color: #fff;
    }
    .hero-img {
        width: 200px;
        margin-right: 0;
        text-align: center;
    }
    .hero-img img {
        height: auto;
        max-width: 100%;
    }
    .hero-img .hero-btn {
        display: inline-block;
        font-size: 14px;
        width: 130px;
        height: 40x;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .hero-img .hero-btn-2 {
        display: inline-block;
        border: 2px solid #FF7A00;
        background: none;
        outline: none;
        font-size: 13px;
        height: 35px;
        width: 100px;
        border-radius: 30px;
        color: var(--primary);
        box-shadow: inset 0 0 0 0 #FF7A00;
        transition: all .3s;
    }
    .hero-img .hero-btn-2:hover {
        box-shadow: inset 140px 0 0 #FF7A00;
        cursor: pointer;
        color: #fff;
    }
}