* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:3
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: .4s;
}
.nav-scrolled {
    background-color: #FF7A00;
    padding: 15px 115px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
    transition: .4s;
}
.nav-scrolled .nav-brand a {
    color: white;
    font-size: 18px;
}
.nav-scrolled .sidebar-toggle ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.nav-scrolled .sidebar-toggle ul li .active-link {
    color: #fff;
}
nav .nav-brand a, nav .sidebar-toggle ul li a {
    text-decoration: none;
}
nav .nav-brand a {
    font-weight: bold;
    font-size: 20px;
    color: #FF7A00;
}
nav .sidebar-toggle input {
    display: none;
}
nav .sidebar-toggle ul { 
    display: flex;
    list-style: none;
}
nav .sidebar-toggle ul li {
    margin: 0 25px;
}
nav .sidebar-toggle ul li a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #000;
    width: 50%;
    margin: 3px auto 0;
    transform: scale(0);
    transition: .2s;
}
.nav-scrolled .sidebar-toggle ul li a::after {
    border-bottom: 3px solid #fff;
}
nav .sidebar-toggle ul li a {
    color: rgba(0, 0, 0, 0.7);
}
nav .sidebar-toggle ul li a:hover {
    color: rgba(0, 0, 0, 1);
}
.nav-scrolled .sidebar-toggle ul li a:hover {
    color: #fff
}
nav .sidebar-toggle ul li a:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #000;
    width: 50%;
    margin: 3px auto 0;
    transform: scale(1);
}
.nav-scrolled .sidebar-toggle ul li a:hover::after {
    border-bottom: 3px solid #fff;
}
nav .sidebar-toggle ul li:last-child{
    margin-right: 0;
}
nav .sidebar-toggle ul li .active-link {
    color: #000;
}
.nav-scrolled .sidebar-toggle ul li .active-link {
    color: #fff;
}
nav .sidebar-toggle ul li .active-link::after {
    transform: scale(1);
}

/* RESPONSIVE BREAKPOINTS */
/* TABLET */
@media screen and (max-width: 768px) {
    nav {
        padding: 15px 30px;
    }
    nav .nav-brand a {
        font-size: 18px;
    }
    nav .sidebar-toggle ul li a {
        font-size: 15px;
    }
    .nav-scrolled {
        background-color: #FF7A00;
        padding: 10px 40px;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
        transition: .4s;
    }
    .nav-scrolled .nav-brand a {
        color: white;
        font-size: 16px;
    }
    .nav-scrolled .sidebar-toggle ul li a {
        font-size: 13px;
    }
}


/* MOBILE */
@media screen and (max-width: 576px) {
    nav {
        padding: 10px 15px;
    }
    .nav-scrolled {
        background-color: #FF7A00;
        padding: 10px 15px;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
        transition: .4s;
    }
    .nav-scrolled .nav-brand a {
        color: white;
        font-size: 16px;
    }
    .nav-scrolled .sidebar-toggle ul li a {
        font-size: 12px;
    }
    nav .nav-brand a {
        font-size: 16px;
    }
    nav .sidebar-toggle ul { 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 38px;
        padding: 10px 0;
        height: 110px;
        list-style: none;
        background-color: #FF7A00;
        border-radius: 10px;
        transform: scale(0);
        transform-origin: 90% 0;
        transition: .3s;
    }
    nav .sidebar-toggle ul li {
        margin: 0 20px;
    }
    nav .sidebar-toggle ul li .active-link {
        color: #fff;
    }
    .active-link::after {
        content: '';
        display: none;
    }
    nav .sidebar-toggle ul li a {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }
    nav .sidebar-toggle ul li a:hover {
        color: rgb(255, 255, 255);
    }
    nav .sidebar-toggle ul li a::after {
        display: none;
    }
    nav .sidebar-toggle ul li a:hover::after {
        content: '';
        display: none;
        border-bottom: 3px solid #000;
        width: 50%;
        margin: 3px auto 0;
    }
    nav .sidebar-toggle ul li:last-child{
        margin-right: 0;
    }
    nav .sidebar-toggle input {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }
    nav .sidebar-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 15px;
        cursor: pointer;
        transition: all .3s;
    }
    nav .sidebar-toggle span {
        background-color: #000;
        height: 3px;
        width: 20px;
        transition: all .3s;
        transform-origin: 0 0;
    }
    nav .sidebar-toggle span:nth-child(3) {
        transform-origin: 50% 50%;
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(0, -2px);
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(3) {
        transform: scale(0);
    }
    nav .sidebar-toggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg);
    }
    nav .sidebar-toggle input:checked ~ ul {
        transform: scale(1);
    }
}